<a href="https://colab.research.google.com/github/LeeYM9901/MachineLearning4AI/blob/main/week3/teamwork.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

# Task 1

In [2]:
df = pd.DataFrame([
    {'Name' : '나다경', 'Hobby' : 'listening to music', 'Nationality' : 'Korea'},
    {'Name' : '유나현', 'Hobby' : 'watching movies', 'Nationality' : 'Korea'},
    {'Name' : '이영민', 'Hobby' : 'watching Netfilx & playing computer games', 'Nationality' : 'Korea'},
    {'Name' : '추승민', 'Hobby' : 'reading books', 'Nationality' : 'Korea'}
])

In [3]:
df

  Name                                      Hobby Nationality
0  나다경                         listening to music       Korea
1  유나현                            watching movies       Korea
2  이영민  watching Netfilx & playing computer games       Korea
3  추승민                              reading books       Korea

# Task 2

In [4]:
index_list=['student1', 'student2', 'student3', 'student4']

In [5]:
df1 = pd.DataFrame([
    {'Name' : '나다경', 'Hobby' : 'listening to music', 'Nationality' : 'Korea'},
    {'Name' : '유나현', 'Hobby' : 'watching movies', 'Nationality' : 'Korea'},
    {'Name' : '이영민', 'Hobby' : 'watching Netfilx & playing computer games', 'Nationality' : 'Korea'},
    {'Name' : '추승민', 'Hobby' : 'reading books', 'Nationality' : 'Korea'}
], index=index_list)

In [6]:
df1

         Name                                      Hobby Nationality
student1  나다경                         listening to music       Korea
student2  유나현                            watching movies       Korea
student3  이영민  watching Netfilx & playing computer games       Korea
student4  추승민                              reading books       Korea

In [7]:
index_dict = pd.DataFrame({'Index' : index_list})

In [8]:
df_index = pd.concat([df, index_dict], axis=1)
df_index

  Name                                      Hobby Nationality     Index
0  나다경                         listening to music       Korea  student1
1  유나현                            watching movies       Korea  student2
2  이영민  watching Netfilx & playing computer games       Korea  student3
3  추승민                              reading books       Korea  student4

In [9]:
df_index = df_index.set_index('Index')
df_index

         Name                                      Hobby Nationality
Index
student1  나다경                         listening to music       Korea
student2  유나현                            watching movies       Korea
student3  이영민  watching Netfilx & playing computer games       Korea
student4  추승민                              reading books       Korea

In [10]:
df_index.to_csv('week3_teamwork.csv', encoding='UTF-8')

In [11]:
df2 = pd.read_csv('week3_teamwork.csv', encoding='UTF-8', index_col=0)

In [12]:
df2

         Name                                      Hobby Nationality
Index
student1  나다경                         listening to music       Korea
student2  유나현                            watching movies       Korea
student3  이영민  watching Netfilx & playing computer games       Korea
student4  추승민                              reading books       Korea

In [13]:
df3 = pd.DataFrame({'Height' : [157, 180, 180, 165],
       'Weight' : [50, 75, 70, 55],
       'Age' : [23, 24, 25, 26]},
        index=index_list)

In [14]:
df3

          Height  Weight  Age
student1     157      50   23
student2     180      75   24
student3     180      70   25
student4     165      55   26

In [15]:
df4 = pd.concat([df2, df3], axis=1)
df4

,Name,Hobby,Nationality,Height,Weight,Age
student1,나다경,listening to music,Korea,157,50,23
student2,유나현,watching movies,Korea,180,75,24
student3,이영민,watching Netfilx & playing computer games,Korea,180,70,25
student4,추승민,reading books,Korea,165,55,26

In [16]:
df4['Height'].mean()

170.5

In [17]:
df4['Age'].max()

26

In [18]:
df4['Weight'].median()

62.5

In [19]:
df4['Age'].cumsum()

student1    23
student2    47
student3    72
student4    98
Name: Age, dtype: int64

In [20]:
df4.corr()

          Height    Weight       Age
Height  1.000000  0.978744  0.270707
Weight  0.978744  1.000000  0.108465
Age     0.270707  0.108465  1.000000